# Not for students eyes ...
solution/

# IntelliJ
.idea/
out/

# jMonkey
*.dylib

# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
android/gradle/
desktop/gradle/
build/
gradlew
gradlew.bat

# User configuration.
local.properties

# OS configurations.
.DS_Store

# Android NDK cmake output.
.cxx/
